@{
    ViewBag.Title = "Home Page";
}

<div class="video-container-md hidden-xs hidden-sm">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="//player.vimeo.com/video/189515951"></iframe>
    </div>
</div>

<div class="video-container-sm hidden-xs hidden-md hidden-lg">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="//player.vimeo.com/video/189515951"></iframe>
    </div>
</div>

<div class="video-container-xs hidden-sm hidden-md hidden-lg">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="//player.vimeo.com/video/189515951"></iframe>
    </div>
</div>
