@{
    ViewBag.Title = "Home Page";
}

<div class="video-container">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="//player.vimeo.com/video/189515951"></iframe>
    </div>
</div>

